.cart {
  &__items {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    padding: 24px 30px;

    
  }
  &__goods {
    overflow: auto;
    padding-right: 15px;
  }

  &__item {
    display: flex;
    gap: 15px;
    padding: 12px 0;
    margin-bottom: 5px;
    border-bottom: 2px solid #E6E6E6;

    .item__info {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .item__name {
      opacity: .6;

      font-size: 14px;
      line-height: 22px;
    }
    .item__color-size {
      padding: 10px 0;

      font-size: 12px;
      font-weight: 600;
      line-height: 18px;
    }
    .item__price-block {      
      display: flex;     
      flex-wrap: wrap;
      justify-content: center;
      gap: 12px; 
      align-items: center;
      margin-top: auto;

      .price__quantity {
        display: flex;
        align-items: center;        

        button {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 32px;
          height: 32px;
          text-align: center;
          cursor: pointer;
          border: none;
          background: #F8F8F8;
          transition: .2s linear;
          
          &:hover {
            background: #f0f0f0;
          }
        }
        .quantity__value {
          width: 32px;
          height: 32px;

          line-height: 32px;
          text-align: center;

          background: #F8F8F8;
        }       
      }

      .item__price {
        margin: 0 auto 0 0;

        font-weight: 700;       
      }
    } 
  }

  &__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 0 24px;
    padding-top: 24px;
    span {
      font-size: 16px;
      font-weight: 600;
    }
  } 
}