.center-block {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader-circle-6 {
  animation: loader-circle-6-spin 1s linear infinite;
  border: solid 4px #bbb;
  border-top: solid 4px transparent;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  display: inline-block;
}
@keyframes loader-circle-6-spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}