.center-block {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader-circle-93 svg {
  height: 50px;
  width: 50px;
  stroke: rgb(230, 230, 230);
  transform: rotate(-90deg);
}
.loader-circle-93 circle {
  stroke-dasharray: 156;
  stroke-dashoffset: 156;
  animation: anm-loader-circle-93 2.3s infinite;
}
@keyframes anm-loader-circle-93 {
  50% {
      stroke-dashoffset: 0;
  }
  100% {
      stroke-dashoffset: -156;
  }
}