.cart-select {
  >label {
    font-weight: 600;
    font-size: 12px;
  }
}

.dd-wrapper {
  position: relative;

  &.open {
    box-shadow: 1px 1px 6px 1px rgb(0 0 0 / 15%);
  }

  .dd-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: 100%;
    background: #F8F8F8;
    border: 1px solid transparent;

    &.error {
      border: 1px solid #D61313;
    }

    .dd-arrow {
      position: absolute;
      top: 10px;
      right: 14px;
      z-index: 5;
      padding: 10px 6px;
      transform: rotateX(180deg);
      transition: .2s linear;
      
      &.open {
        transform: rotateX(0);
      }
    }
    .dd-loader {
      position: absolute;
      top: 20px;
      right: 32px;
      z-index: 5;
    }

    &__input {
      padding: 14px 14px;
      width: 100%;
      background: none;
      border: none;
      outline: none;
    }
  }

  .dd-list {
    position: absolute;
    left: 0;
    top: 50px;
    z-index: 10;
    width: 100%;
    max-height: 0;
    background-color: white;    
    overflow-y: hidden;
    transition: .1s linear;

    &.open {
      z-index: 15;
      overflow-y: auto;
      max-height: 196px;
      box-shadow: 1px 1px 6px 1px rgb(0 0 0 / 15%);
    }

    &__item {
      display: inline-block;
      padding: 14px;      
      width: 100%;
      border: none;
      outline: none; 

      &.error {
        color: #D61313;
      }            
      &:nth-child(even) {
        background-color: #F8F8F8;
      }
      &:hover, &:focus {
        cursor: pointer;
        background-color: #EBEBEB;
      }
    }

    &__radio { 
      display: none;
    }
  }

  .error-note {
    position: absolute;
    left: 0;
    bottom: -20px;
    z-index: 5;
    font-size: 12px;
    color: #D61313;
  }  
}