.header {
}
.top-bar {
  width: 100%;
  background-color: #121212;
  color: rgba(255, 255, 255, 0.8);
}
.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.about-company {
  display: flex;
  align-items: center;
  height: 100%;
  &__item {
    display: flex;
    align-items: end;
  }
  span {
    margin: 0 30px 0 5px;
    font-size: 11px;
    line-height: 1.2;
  }
  @media (max-width: 660px) {    
    flex-direction: column;
    align-items: start;
    span {
      font-size: 8px;
    }
  }
}
.nav-menu {
  padding: 8px 0;
  border-bottom: 2px solid #F8F8F8;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
    &__logo {
      padding: 14px 0;
      @media (max-width: 460px) {
        img {
          width: 120px;
        }
        
      }      
    }
		&__list {
      display: flex;
      align-items: center;
      @media (max-width: 998px) {
        display: none;
      }
		}
		&__item {  
      display: block;   
      padding: 16px;  
      line-height: 16px; 
      color: #121212;  
		}
    &__item_active {
      font-weight: 600;
    }
    .btns {
      display: flex;
      gap: 27px;
      @media (max-width: 460px) {
        gap: 10px;
      }
    }
    &__btns {
      display: flex;
      align-items: center;
      gap: 27px;
      @media (max-width: 1050px) {
        gap: 15px;
      }
      @media (max-width: 460px) {
        gap: 10px;
      }
      
    }
}

.burger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  
  width: 24px;
  height: 24px; 
  padding: 3px 0; 
  cursor: pointer;
  
  span {
    display: inline-block;
    width: 100%;
    height: 2px;
    background: #121212;   

    transition: .2s linear;
  }

  &.open {   
    z-index: 20;
    justify-content: center; 
    span:nth-child(1) {
      transform:translateY(1px) rotate(45deg);
    }
    span:nth-child(2) {
      display: none;
    }
    span:nth-child(3) {
      transform:translateY(-1px) rotate(-45deg);
    }
  }
  @media (max-width: 998px) {
    display: flex;
  }
}
.modal {
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: end;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background: #12121263;

  transition: .2s linear;
  &__content {
    display: flex;
    justify-content: center;
    max-width: 300px;
    width: 100%;
    transform: translateX(150%);
    background: #fff;
    padding: 100px 25px;
    height: 100vh;
    transition: .2s linear;
  }
  &.open {
    visibility: visible;
    opacity: 1;

    .modal__content,
    .cart__content {
      transform: translateX(0);
    }
  }
  & .nav__list {
    display: inline-block;
  }
  & .nav__item {
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 1.5;

  }
}

//========CART=========

.cart-btn {
  position: relative;
  cursor: pointer;
}
.cart-quantity {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid #fff;
  background: #121212;
  position: absolute;
  top: -5px;
  right: -28px;

  font-size: 9px;
  color: #fff;
  text-align: center;
  line-height: 16px;
  
}
.cart {
  &__content {
    max-width: 400px;
    width: 100%;
    height: 100vh;
    background: #fff;
    transform: translateX(150%);
    transition: .2s linear;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 48px;

    background: #121212;

    color: #fff;
    font-weight: 600; 
    img:hover {
      cursor: pointer;
    }  

  }
  &__title {
    height: 14px;
  }
  &__wrapper {
    padding: 0 30px;
  }
  &__links {
    padding: 20px 0;

    font-size: 15px;
  }
  &__goods {
    overflow: auto;
  }

  &__item {
    display: flex;
    gap: 15px;
    padding: 12px 0;
    border-bottom: 2px solid #E6E6E6;
    .item__info {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .item__name {
      opacity: .6;

      font-size: 16px;
      line-height: 22px;
    }
    .item__color-size {
      padding: 10px 0;

      font-size: 12px;
      font-weight: 600;
      line-height: 18px;
    }
    .item__price-block {      
      display: flex;      
      align-items: center;
      margin-top: auto;

      .price__quantity {
        display: flex;
        align-items: center;        

        button {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 32px;
          height: 32px;
          text-align: center;
          cursor: pointer;
          border: none;
          background: #F8F8F8;
          transition: .2s linear;
          
          &:hover {
            background: #f0f0f0;
          }
        }
        .quantity__value {
          width: 32px;
          height: 32px;

          line-height: 32px;
          text-align: center;

          background: #F8F8F8;
        }       
      }

      .item__price {
        margin: 0 auto 0 16px;

        font-weight: 700;
      }
    }    
  }
  
  &__bin {
    cursor: pointer;
  }

}


