.cart-btn {
  position: relative;
  cursor: pointer;
}
.cart-quantity {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid #fff;
  background: #121212;
  position: absolute;
  top: -5px;
  right: -28px;

  font-size: 9px;
  color: #fff;
  text-align: center;
  line-height: 16px;
  
}
.cart {
  &__content {
    max-width: 400px;
    width: 100%;    
    background: #fff;

    overflow: hidden;
    transform: translateX(150%);
    transition: .2s linear;  

    & button {
      display: block;
      width: 100%;
      border: none;
      padding: 16px 0;
      font-size: 13px;
      font-weight: 500;
      cursor: pointer;
      transition: .2s linear;
    }
    .dark-btn {
      margin-bottom: 16px;
      background: #121212;
      color: #fff;
      &:hover {
        background: #3b3b3b;
      }
    }
    .light-btn {
      background: #F8F8F8;
      &:hover {
        background: #eeeeee;
      }
    }
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 48px;

    background: #121212;

    color: #fff;
    font-weight: 600; 
    img:hover {
      cursor: pointer;
    } 

  }
  &__title {
    height: 14px;
  }
  
  &__links {
    padding: 24px 30px 0;

    font-size: 15px;
  }

  &__slides {
    display: flex;
    height: calc(100% - 90px);
    width: 400%;
    transition: .2s linear;
    transform: translateX(0);

    &.items {
      transform: translateX(0)
    }
    &.delivery {
      transform: translateX(-25%);
    }
    &.payment {
      transform: translateX(-50%);
    }
    &.status {
      transform: translateX(-75%);
    }
  }

  &__empty {
    margin: 40px 0;

    text-align: center;
    font-size: 26px;
    font-weight: 600;
  } 

  &__bin {
    cursor: pointer;
  }  
}