.app {
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;  
}
.content {
  flex: 1 1 auto
}
.container {
  max-width: 1160px;
  height: 100%;
  margin: 0 auto;
  padding: 0 25px;
}

