.thumbsSwiper {
  max-height: 600px;
  height: 100%;  
  
  .swiper-slide {
    cursor: pointer;
    width: 100%;
    opacity: .6;
  }  
  .swiper-slide-thumb-active {
    opacity: 1;
  }
  img {
    object-fit: cover;
    max-height: 114px;
    gap: 10px;
  }
}