.all-goods {
  margin-bottom: 180px;
}
.filter {

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
  }


  &__options {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-height: 0;
    overflow: hidden;  
    
    background: #F8F8F8;
    transition: .2s linear; 
     
  }

  &__options.open {
    padding: 24px 24px;
    margin-bottom: 24px;
    max-height: 320px;   
    @media (max-width: 900px) {
      max-height: 650px;
    } 
    @media (max-width: 500px) {
      max-height: 1000px;
    } 
  }

  &__option {
    width: 20%;
    margin: 0 10px;
    padding-bottom: 32px;
    height: 280px;
    
    @media (max-width: 900px) {
      width: 40%;
      height: 260px;
      margin: 0 0 40px;
    }
    @media (max-width: 500px) {
      width: 80%;
      height: 200px;
    }
  }

  &__title {
    margin-bottom: 15px;

    font-weight: 600;
  }

  &__list {
    overflow: auto;
    height: 100%;

    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-track {
      background: #e7e5e5;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #868282;
    }
  }

  &__item {
    padding: 5px 0;

    font-size: 13px;

    
    input {
      margin-right: 8px;
      cursor: pointer;
    }
    label {
      cursor: pointer;
    }

  }

  a {
    opacity: .6;
    transition: .2s linear;
  }  
  a:hover {
    opacity: 1;
  }

  &__block {
    display: flex;
    gap: 6px;
    align-items: center;
    margin: 0 5px;

    font-size: 13px;
    font-weight: 500;
    
    cursor: pointer;
    span {
      opacity: .6;
      transition: .2s linear;
      &:hover {
        opacity: 1;
      }
    }       
    
    img {
      opacity: .6;
      cursor: pointer;
      transition: .2s linear;
      &:hover {
        opacity: 1;
      }
    }   
  } 
  &__description {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    margin-bottom: 24px;

    font-size: 13px;
  } 
  &__total-items {
    font-weight: 600;
  }
}
